@tailwind base;
@tailwind components;
@tailwind utilities;

/* Peyda Font Pack */
*{
    font-family: Peyda;
}

@font-face {
    font-family: 'Peyda';
    src: url('./fonts/Peyda 4 (Pro)/02 Web Font/Font Family WebFont/woff/PeydaWeb-Regular.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('./fonts/Peyda 4 (Pro)/02 Web Font/Font Family WebFont/woff/PeydaWeb-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Peyda';
    src: url('./fonts/Peyda 4 (Pro)/02 Web Font/Font Family WebFont/woff/PeydaWeb-ExtraBold.woff');
    font-weight: 800;
    font-style: normal;
}

/* رفتن به رجیستر (عکس به چپ) */
.auth-left-enter-active,
.auth-left-leave-active {
    transition: all 0.6s ease;
}

.auth-left-enter-from {
    opacity: 0;
    transform: translateX(100px);
}

.auth-left-leave-to {
    opacity: 0;
    transform: translateX(-150px);
}

/* برگشت به لاگین (عکس به راست) */
.auth-right-enter-active,
.auth-right-leave-active {
    transition: all 0.6s ease;
}

.auth-right-enter-from {
    opacity: 0;
    transform: translateX(-100px);
}

.auth-right-leave-to {
    opacity: 0;
    transform: translateX(150px);
}
