@tailwind base;
@tailwind components;
@tailwind utilities;

/* Peyda Font Pack */
*{
    font-family: Peyda;
}

@font-face {
    font-family: 'Peyda';
    src: url('./fonts/Peyda 4 (Pro)/02 Web Font/Font Family WebFont/woff/PeydaWeb-Regular.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('./fonts/Peyda 4 (Pro)/02 Web Font/Font Family WebFont/woff/PeydaWeb-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Peyda';
    src: url('./fonts/Peyda 4 (Pro)/02 Web Font/Font Family WebFont/woff/PeydaWeb-ExtraBold.woff');
    font-weight: 800;
    font-style: normal;
}
